.questionApp {
    text-align: center;
    color: #3f3f3f;
    padding: 20px;
    margin: 20px;
    /* border-radius: 20px; */
    background-color: rgba(0,0,0,0.05);
}

.questionApp-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.questionApp-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.questionApp-intro {
    font-size: large;
}

@keyframes questionApp-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes delayFadeOutUp {
    from, 50% {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(1.5);
    }
}

.questionApp section {
    margin: 20px auto;
    width: 600px;
}

.questionApp .helpImg {
    width: 80px;
    height: 35px;
    position: absolute;
    right: 75px;
    cursor: pointer;
    margin-top: -20px;
    text-align: right;
}

.questionApp .helpImg img {
    width: 35px;
    margin-right: 5px;
}

.questionApp .overviewSection {
    border: 0.5px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    width: 335px;
}
.questionApp .overviewSection > * {
        margin: 10px;
    }

    /* .questionApp .overviewSection img {
        width: 100%;
    } */

    .questionApp .overviewSection .description {
        font-size: 18px;
        text-align: center;
    }

    .questionApp .overviewSection button {
        padding: 10px;
    }

    .questionApp .transitionOut .question {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: delayFadeOutUp;
}

.questionApp .quizSection .questionNumber {
    font-weight: bold;
    text-align: right;
    font-size: 16px;
    line-height: .5em;
}

.questionApp .quizSection .question {
    font-weight: bold;
    font-size: 20px;
    margin: 10px auto 20px;
}

.questionApp .quizSection .answers p {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
    display: inline-block;
    margin: 0 10px;
}

.questionApp .overviewButton {
    text-align: center;
}

.questionApp .checkbox {    
    text-align: center;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 10%;
}

.questionApp .checkbox label {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 2px;
}

label {
    background: white;
    cursor: pointer;    
}

.ant-radio-group {
    width: 100%;
}

.ant-checkbox-wrapper-checked {
    background: rgba(0,0,0,0.1);
    color: black;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: rgba(0,0,0,0.1);
    border: 0px;
    color: black;
    box-shadow: 0;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: black;
    box-shadow: 0;
}

.ant-radio-button-wrapper {
    padding: 0;
    border: 0px;
}

.ant-radio-button-wrapper:hover {
    color: black;
}

.ant-radio-button-wrapper:first-child:last-child {
    border-radius: 5px;
}

.ant-radio-button-wrapper:first-child {
    border-left: 0px;
}

.ant-radio-button-wrapper-checked {
    background: rgba(0,0,0,0.1);
    color: black;
}

.questionApp .checkbox label:hover {
    background: rgba(0,0,0,0.05);
    color: black;
}

.questionApp .ant-checkbox {
    display: none;
}

.questionApp .overviewButton button {
    margin: 5px;
    width: 160px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    transform-style: preserve-3d;
    text-align: center;
}

.questionApp .quizSection .submitBtn {
        background-color: cornflowerblue;
        color: white;
    }

    .questionApp .quizSection .submitBtn.correct {
        background: #7aca7c;
        color: #358337;
        border: 0;
        /* transform-origin: 50% 100%; */
        /* transform: rotateX(-90deg) translateY(100%); */
    }

    .questionApp .quizSection .submitBtn.incorrect {
        background: #e96a6a;
        color: #a33a3a;
        border: 0;
        /* transform-origin: 50% 0%; */
        /* transform: rotateX(90deg) translateY(-100%); */
    }

    .questionApp .resultsSection {
    text-align: center;
}

.questionApp .resultsSection h2 {
        text-align: left;
        border-bottom: 1px solid;
    }

    .questionApp .resultsSection .scoring {
        text-align: left;
        margin-top: -8px;
        margin-bottom: 30px;
    }

    .questionApp .resultsSection .result {
        text-align: left;
        position: relative;
        margin: 30px 0;
    }

    .questionApp  .resultsSection .question {
        font-weight: bold;
    }

    .questionApp .resultsSection .response {
        margin: 10px 0;
        color: #676767;
    }

    .questionApp .resultsSection .result:before {
        font-size: 1.5em;
        position: absolute;
        left: -50px;
    }

    .questionApp .resultsSection .result.correct:before {
        content: '\002714';
        color: #7aca7c;
        top: -20px;
    }

    .questionApp .resultsSection .result.incorrect:before {
        content: '\2716';
        color: #e96a6a;
        top: -18px;
    }

    .questionApp .resultsSection .response b {
            color: #545454;
            font-size: 1.1em;
        }

        .questionApp .resultsSection .explanation {
        font-size: 0.9em;
        margin-bottom: 20px;
    }

    .questionApp .resultsSection .badge {
        background-repeat: no-repeat;
        display: inline-block;
        margin: 10px auto;
        text-align: center;
        font-size: 3em;
        color: white;
        text-shadow: 0 0 5px black;
        border: 14px solid #205;
        border-radius: 100%;
        background-position: center center;
        box-shadow: 5px 5px 15px black;
    }

    .questionApp button:after, button:before {
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    line-height: 70px;
}

.questionApp button:hover {
        box-shadow: inset 0 0 10px;
    }

.hideCheck {
    display: none;
}

.showCheck {
    display: inline-block;    
}

.hideAnswer {
    display: none;
}

.showAnswer {
    display: block;
    color: darkslategrey;
    font-style: italic;
    background: yellow;
}

.showAnswer p {
    padding: 5px;
}